@charset "utf-8";
body  {
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
}

main { 
	width: 960px;  
	background-image:url(images/header-bg.png);
	background-repeat:repeat-x;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	margin: 25px auto; 
	border: 1px solid #000000;
} 

 header { 
	height:120px;
	float:left;
	width:100%;
	margin-bottom:40px;
	clear: both;
	
} 
header h1 {
	margin: 0; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100px;
	padding: 0 10px;
}


nav {
	float: left; 
	width: 200px; 
	padding: 15px 10px 15px 20px;
}
 nav ul {
/*	margin: 0px; - ниже указывается другой маржин*/
	padding-left: 20px;
	line-height: 150%;
}
nav ul  li {
margin:10px 0;
}
 nav ul  li a {
	color:#000;
	font-size:13px;
	text-decoration:none;
}
 nav ul li a:hover {
	/*color:#000; - повторяется*/
	/* font-size:14px; */
	text-decoration:underline;
}
article { 
	width:680px;
	padding: 0 20px; 
	float:right;
} 

article img {width: 300px;}

 footer { 
	padding: 0 10px 0 20px; 
	background:#DDDDDD; 
	height:90px;
	float: left;
	width: 930px;
}

 footer p {
	margin: 0; 
	padding: 10px 0; 
	font-weight:bold; /*-перенес с хтмл*/
}


.clearfix:after {
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

main header img {
	margin: 10px;
}

.contacts {
  width: 400px;
  height: 100px;
  margin: 10px;
  float: right;
  line-height: 21px;
  font-size: 14px;
}

.logo {
width:300px;
height:100px;
padding:10px;
float:left;	
margin: 10px;
}

h1 {
	line-height:150%;
}

/*nav a {
color:#000;
}
nav a:hover {
text-decoration:underline;
font-size:14px;
} - дублируется */ 

/*.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
*/

/*.lgp footer a {
color:black;
text-decoration:none;
}

.lgp footer a :hover {
color:black;
text-decoration:underline;
}
*/
/*.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}*/


	/*.bordered {
		border-radius:10px;
		border:5px solid #00698c;
		content: '';
		display: block;
	    margin: auto;}
*/
/*.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}*/
